*.pyc

/book2/language_deal/simple-examples
/book2/LeNet_5/MNIST_data
/book2/LeNet_5/model
/book2/MNIST_data
/book2/model
/book2/Models
/book2/my_net
/book2/Seq2SeqLearning/data
/book2/Seq2SeqLearning/en-zh
/book2/Seq2SeqLearning/model
/book2/tfr_test
/book2/transfer_learning/flower_photos
/book2/transfer_learning/flower_photos_test
/book2/transfer_learning/model
/book2/tf_test/log
/book2/tensorboard_test/log
/book2/tensorboard_test/model
/book2/tensorboard_test/log2
/book2/tensorboard_test/log3
/book2/tf_gpu/log1
/book2/tf_gpu/log2
/pic
/book3/PythonDataScienceHandbook
book3/data/20170107-061401-recipeitems.json
book3/data/gistemp250_GHCNv4.nc
/book4/handson-ml
/book4/model